[defaults]
callbacks_enabled = profile_tasks, timer
bin_ansible_callbacks = True
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null