instance-id: ovf-id
network:
  version: 2
  ethernets:
    eth0:
%{ if ip_address == "" ~}
      dhcp4: true
%{ else }
      dhcp4: false
      addresses:
        - ${ip_address}/${subnet_prefix}
      gateway4: ${gateway}
      nameservers:
        addresses:
%{ for nameserver in nameservers ~}
          - ${nameserver}
%{ endfor ~}
%{ endif }